html{ 
  height: 100%;
}
body{
  width: 90%;
  height: 90%;
  background-color: #3a3838;
   /* background-image: url (/Users/drewferris/Aaron201/CF201-Lab2/project-directory/img/hangloosejpg);  */
  background-size: cover;
  color: #ffffff;
  font-size:18px;
  padding: 20px;
}

#mytitle{ 
  text-align: center;
  font-size: 100px;
  display: block;
  padding: 10px;
  margin: auto;
  font-family: cursive;
  color:#000000;
}
h2{
  font-size: 20px;
}
.QandA{
  font-size: 25px;
}

.proper{
font-style: italic;
}
.YorN{font-style: bold;
  color: #fd0000;

}